 @charset "UTF-8";

 * {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
 }

 body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    height: 98vh;
    width: 97vw;
    overflow: clip;
    /* Não usar as medidas VH e VW com 100%, usar sempre medidas abaixo de 100. 
Se não quiser rolagem na tela usar overflow: clip; sempre salva vidas. */
 }

 main {
    height: 100vh;
    position: relative;
 }

 section#telefone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphone.png') no-repeat;
    height: 627px;
    width: 311px;

 }

 iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;

 }

 section#redes-sociais {
    text-align: right;
 }

 section#redes-sociais img {
    width: 50px;
    margin: 7px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
 }

 section#redes-sociais img:hover{
   border: 2px solid white;
   transform: translate(-5px, -5px);
   box-shadow: 5px 5px 10px black;
   transition: transform 0.5s;
 }